<mat-toolbar>
  <span class="dinamicNavigation">{{navigationItem}}</span>
  <ul class="navigation" [class.isOpen]="isMenuOpen">
    <li class="navigation__item" [routerLink]="['/main']">
      <a class="navigation__link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        (click)="viewItem($event)"
      >Всё КПА</a>
    </li>
    <li class="navigation__item" [routerLink]="['/create']">
      <a class="navigation__link"
         routerLinkActive="active"
         (click)="viewItem($event)"
      >Добавить КПА</a>
    </li>
    <li class="navigation__item" [routerLink]="['/favorite']">
      <a class="navigation__link"
         routerLinkActive="active"
         (click)="viewItem($event)"
      >Избранные</a>
    </li>
  </ul>
  <mat-icon class="burger" (click)="isMenuOpen = !isMenuOpen">{{isMenuOpen ? 'close' : 'menu'}}</mat-icon>
</mat-toolbar>
<router-outlet></router-outlet>
