<section class="edit">
  <div class="container">
    <div class="header">
      <button  mat-icon-button color="warn" (click)="delete(post)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="toggleLocalStoragePost(post.id); disable = !disable">
        <mat-icon>{{disable ? 'favorite' : 'favorite_border'}}</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="flag = !flag" [disabled]="flag">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/']">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
    <div class="content">
      <form *ngIf="flag"  [formGroup]="form" (submit)="onSubmit()">
        <div class="form-container">
          <h2>Наименование КПА:</h2>
          <mat-form-field appearance="outline">
            <mat-label>Наименование КПА</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="form.get('name')?.errors?.['required']">
              <b>*ОБЯЗАТЕЛЬНОЕ</b> для заполнения поле
            </mat-error>
          </mat-form-field>
          <h2>Шифр КПА:</h2>
          <mat-form-field appearance="outline">
            <mat-label>Шифр КПА</mat-label>
            <input matInput  formControlName="shifr">
            <mat-error *ngIf="form.get('shifr')?.errors?.['required']">
              <b>*ОБЯЗАТЕЛЬНОЕ</b> для заполнения поле
            </mat-error>
          </mat-form-field>
          <h2>Изделие:</h2>
          <mat-form-field appearance="outline">
            <mat-label>Изделие</mat-label>
            <input matInput formControlName="izd">
            <mat-error *ngIf="form.get('izd')?.errors?.['required']">
              <b>*ОБЯЗАТЕЛЬНОЕ</b> для заполнения поле
            </mat-error>
          </mat-form-field>
          <h2>Основные характеристики:</h2>
          <mat-form-field appearance="outline">
            <mat-label>Основные характеристики</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error *ngIf="form.get('description')?.errors?.['required']">
              <b>*ОБЯЗАТЕЛЬНОЕ</b> для заполнения поле
            </mat-error>
          </mat-form-field>
        </div>
        <button class="btn"
                type="submit"
                [disabled]="form.invalid"
        >
          {{form.invalid ? 'заполни все порля формы' : 'редактировать КПА и перейти на главную страницу' }}
        </button>
      </form>
    </div>
  </div>
</section>
