.create {
  padding: 0 20px;

  .form-container {
    padding: 0 20px;
    max-width: 900px;
    max-height: 500px;
    overflow: auto;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    mat-form-field, h2 {
      width: 99%;
      text-align: start;
      margin: 0;
    }

    mat-form-field {
      margin-top: 10px;
    }

  }
  .btn {
    width: 99%;
    margin: 20px 0;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 18px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
    .form-container::-webkit-scrollbar {
    width: 20px;
  }

  .form-container::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }

  .form-container::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color:#b9deed;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  }
}
